.course {
  &.bg-pink {
    background-color: #e077a7;
  }
  &.bg-purple {
    background-color: #9351b1;
  }
  &.bg-darkpurple {
    background-color: #271134;
  }
  &.bg-green {
    background-color: #2c750c;
  }
  &.bg-darkgreen {
    background-color: #1a3d04;
  }
  &.bg-blue {
    background-color: #4161e9;
  }
  &.bg-darkblue {
    background-color: #082343;
  }

  &:first-child {
    position: relative;
  }

  &:not(:first-child) {
    position: absolute;
  }
}
