@use '../../styles/variables' as v;

.header {
  .header-menu {
    .navbar {
      border-radius: 0 0 0 6rem;

      .navbar-link {
        &:first-child {
          .navbar-link__picture {
            border: transparent;
          }
        }

        &__picture {
          border: 2px solid rgb(143, 143, 143);
        }

        &__icon {
          color: rgb(143, 143, 143);
        }

        &__text {
          font-size: 0.7rem;
          color: rgb(143, 143, 143);

          line-height: 0.7rem;
        }
      }

      .active {
        .navbar-link {
          &__icon {
            color: black;
          }

          &__picture {
            border: 2px solid #e077a7;
          }

          &__text {
            color: black;
          }
        }
      }
    }
  }

  &--open {
    background-color: white;

    .header-menu {
      height: calc(100vh - 40px);

      .navbar {
        border-radius: 0;
        flex-direction: column;
        width: 100%;

        .navbar-link {
          width: 100%;
          margin: 0;

          button {
            width: 100%;
          }

          &__text {
            margin-top: 1rem;
            font-size: 0.8rem;
          }

          &.active {
            .navbar-link {
              &__picture {
                height: 80px;
                width: 80px;
              }

              &__icon {
                width: 35px;
                height: 35px;
              }
            }
          }
        }
      }
    }
  }
}
