.header {
  .navbar {
    .navbar-link {
      &:first-child {
        .navbar-link__picture {
          border: transparent;
        }
      }

      &.active {
        .navbar-link {
          &__image {
            border-color: #e077a7;
          }
          
          &__icon {
            color: black;
          }

          &__text {
            color: black;
          }
        }
      }
    }
  }

  &--open {
    background-color: white;

    .header-menu {
      height: calc(100vh - 40px);

      .navbar {
        border-radius: 0;
        flex-direction: column;
        width: 100%;

        .navbar-link {
          width: 100%;
          margin: 0;

          button {
            width: 100%;
          }

          &__text {
            margin-top: 1rem;
            font-size: 0.8rem;
          }

          &.active {
            .navbar-link {
              &__picture {
                height: 80px;
                width: 80px;
              }

              &__icon {
                width: 35px;
                height: 35px;
              }
            }
          }
        }
      }
    }
  }
}
